// src/styles/_typography.scss
@use './variables' as var;

// --- CORE MIXIN ---
@mixin font-base($size, $weight, $lh: 1.5, $spacing: 0) {
  font-family: var(--font-inter), sans-serif; // Dùng biến từ layout.tsx
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  ls: $spacing;
}

// --- DISPLAY ---
@mixin display-large($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-display-large,
    $weight,
    var.$lh-display-large,
    var.$ls-display-large
  );
}
@mixin display-large-emphasized {
  @include display-large(true);
}

@mixin display-medium($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-display-medium,
    $weight,
    var.$lh-display-medium,
    var.$ls-display-medium
  );
}
@mixin display-medium-emphasized {
  @include display-medium(true);
}

@mixin display-small($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }
  @include font-base(
    var.$fs-display-small,
    $weight,
    var.$lh-display-small,
    var.$ls-display-small
  );
}
@mixin display-small-emphasized {
  @include display-small(true);
}

// --- HEADLINE ---
@mixin headline-large($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-headline-large,
    $weight,
    var.$lh-headline-large,
    var.$ls-headline-large
  );
}
@mixin headline-large-emphasized {
  @include headline-large(true);
}
@mixin headline-medium($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-headline-medium,
    $weight,
    var.$lh-headline-medium,
    var.$ls-headline-medium
  );
}
@mixin headline-medium-emphasized {
  @include headline-medium(true);
}
@mixin headline-small($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-headline-small,
    $weight,
    var.$lh-headline-small,
    var.$ls-headline-small
  );
}
@mixin headline-small-emphasized {
  @include headline-small(true);
}

// --- TITLE ---
@mixin title-large($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-title-large,
    $weight,
    var.$lh-title-large,
    var.$ls-title-large
  );
}
@mixin title-large-emphasized {
  @include title-large(true);
}
@mixin title-medium($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-semibold;
  } @else {
    $weight: var.$weight-medium;
  }

  @include font-base(
    var.$fs-title-medium,
    $weight,
    var.$lh-title-medium,
    var.$ls-title-medium
  );
}
@mixin title-medium-emphasized {
  @include title-medium(true);
}
@mixin title-small($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-semibold;
  } @else {
    $weight: var.$weight-medium;
  }

  @include font-base(
    var.$fs-title-small,
    $weight,
    var.$lh-title-small,
    var.$ls-title-small
  );
}
@mixin title-small-emphasized {
  @include title-small(true);
}

// --- LABEL ---
@mixin label-large($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-semibold;
  } @else {
    $weight: var.$weight-medium;
  }

  @include font-base(
    var.$fs-label-large,
    $weight,
    var.$lh-label-large,
    var.$ls-label-large
  );
}

@mixin label-large-emphasized {
  @include label-large(true);
}

@mixin label-medium($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-semibold;
  } @else {
    $weight: var.$weight-medium;
  }

  @include font-base(
    var.$fs-label-medium,
    $weight,
    var.$lh-label-medium,
    var.$ls-label-medium
  );
}

@mixin label-medium-emphasized {
  @include label-medium(true);
}

@mixin label-small($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-semibold;
  } @else {
    $weight: var.$weight-medium;
  }

  @include font-base(
    var.$fs-label-small,
    $weight,
    var.$lh-label-small,
    var.$ls-label-small
  );
}

@mixin label-small-emphasized {
  @include label-small(true);
}

// -- BODY ---
@mixin body-large($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-body-large,
    $weight,
    var.$lh-body-large,
    var.$ls-body-large
  );
}

@mixin body-large-emphasized {
  @include body-large(true);
}

@mixin body-medium($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-body-medium,
    $weight,
    var.$lh-body-medium,
    var.$ls-body-medium
  );
}

@mixin body-medium-emphasized {
  @include body-medium(true);
}

@mixin body-small($isEmphasized: false) {
  $weight: null;
  @if $isEmphasized {
    $weight: var.$weight-medium;
  } @else {
    $weight: var.$weight-regular;
  }

  @include font-base(
    var.$fs-body-small,
    $weight,
    var.$lh-body-small,
    var.$ls-body-small
  );
}

@mixin body-small-emphasized {
  @include body-small(true);
}
