@use '../../../styles/variables' as var;
@use '../../../styles/typography' as typo;

.sidebar {
  padding: var.$space-16;
  width: 250px;

  display: flex;
  flex-direction: column;
  gap: var.$space-12;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var.$space-8;
    padding: var.$space-4 var.$space-0;

    cursor: pointer;

    .brandText {
      margin-top: var.$space-6;
      color: var.$text-neutral-default;
      @include typo.headline-small-emphasized;
      font-weight: var.$weight-bold;
      text-transform: uppercase;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    column-gap: var.$space-4;

    .menu {
      padding: var.$space-4 var.$space-12;
      @include typo.body-medium;
      color: var.$text-default-tertiary;
    }

    .navList {
      display: flex;
      flex-direction: column;
      column-gap: var.$space-4;

      .navLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var.$space-12 var.$space-24;
        gap: var.$space-20;

        border-radius: var.$radius-8;
        @include typo.body-medium;
        color: var.$text-neutral-tertiary;
        cursor: pointer;

        &:hover {
          background-color: var.$bg-default-secondary;
        }

        // Can thiệp vào phần section bên trái (chứa icon)
        :global(.mantine-NavLink-section) {
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
          margin: 0;

          svg {
            color: var.$icon-default-secondary;

            [opacity] {
              opacity: 0.3; // Chỉnh con số này để mảng mờ đậm lên hoặc nhạt đi
            }
          }
        }

        // Can thiệp vào phần body (chứa text)
        :global(.mantine-NavLink-body) {
          flex: 1; // Nó sẽ chiếm toàn bộ khoảng trống còn lại
        }

        // Can thiệp vào phần section bên phải (chứa mũi tên)
        :global(.mantine-NavLink-section[data-position='right']) {
          margin-left: auto; // Chắc chắn nó bị đẩy về bên phải
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 20px; // Cho nó một cái box cố định để dễ căn chỉnh
        }
      }
    }
  }
}
